---
import BaseHead from "./BaseHead.astro";
import NavListItem from "@components/NavListItem.astro";
import pageSize from "src/config.js";
import config from "src/config.js";
export interface Props {
  title: string,
  description?: string,
  activeLink?: string,
}

const { title, description = "My blog", activeLink = null } = Astro.props as Props;
const { navLinks } = pageSize;
const { metaData: { authorName } } = config;
---

<html lang="en">

  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <a href="#main"
      class="absolute bg-info text-info-content px-6 py-2 rounded-br-md translate-x-[-100%] focus-within:translate-x-0 transition-all">Skip
      navigation</a>
    <header class="container mx-auto flex items-center justify-between mb-16">
      <div class="p-4">
        <!-- Logo -->
        <svg width="84" height="37" viewBox="0 0 84 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M26.5625 23.2266C26.5625 25.1953 26.2266 26.9922 25.5547 28.6172C24.8828 30.2422 23.9688 31.6406 22.8125 32.8125C21.6562 33.9688 20.2969 34.8672 18.7344 35.5078C17.1875 36.1484 15.5234 36.4688 13.7422 36.4688C11.9766 36.4688 10.3125 36.1406 8.75 35.4844C7.20312 34.8281 5.84375 33.9141 4.67188 32.7422C3.51562 31.5703 2.60156 30.1797 1.92969 28.5703C1.25781 26.9453 0.921875 25.1641 0.921875 23.2266V0.914062H7.34375V12.6328C7.6875 12.1953 8.10156 11.8047 8.58594 11.4609C9.08594 11.1172 9.61719 10.8359 10.1797 10.6172C10.7578 10.3984 11.3516 10.2344 11.9609 10.125C12.5703 10 13.1641 9.9375 13.7422 9.9375C15.5234 9.9375 17.1875 10.2734 18.7344 10.9453C20.2969 11.6016 21.6562 12.5234 22.8125 13.7109C23.9688 14.8984 24.8828 16.3047 25.5547 17.9297C26.2266 19.5391 26.5625 21.3047 26.5625 23.2266ZM20.1172 23.2266C20.1172 22.2578 19.9453 21.3594 19.6016 20.5312C19.2734 19.6875 18.8203 18.9609 18.2422 18.3516C17.6641 17.7422 16.9844 17.2656 16.2031 16.9219C15.4375 16.5781 14.6172 16.4062 13.7422 16.4062C12.8672 16.4062 12.0391 16.6016 11.2578 16.9922C10.4922 17.3672 9.82031 17.875 9.24219 18.5156C8.66406 19.1406 8.21094 19.8672 7.88281 20.6953C7.55469 21.5078 7.39062 22.3516 7.39062 23.2266C7.39062 24.1953 7.55469 25.0938 7.88281 25.9219C8.21094 26.75 8.66406 27.4688 9.24219 28.0781C9.82031 28.6875 10.4922 29.1719 11.2578 29.5312C12.0391 29.875 12.8672 30.0469 13.7422 30.0469C14.6172 30.0469 15.4375 29.875 16.2031 29.5312C16.9844 29.1719 17.6641 28.6875 18.2422 28.0781C18.8203 27.4688 19.2734 26.75 19.6016 25.9219C19.9453 25.0938 20.1172 24.1953 20.1172 23.2266ZM54.3828 23.2266C54.3828 25.1016 54.0469 26.8516 53.375 28.4766C52.7031 30.0859 51.7891 31.4844 50.6328 32.6719C49.4766 33.8438 48.1172 34.7734 46.5547 35.4609C45.0078 36.1328 43.3438 36.4688 41.5625 36.4688C39.7969 36.4688 38.1328 36.1328 36.5703 35.4609C35.0234 34.7734 33.6641 33.8438 32.4922 32.6719C31.3359 31.4844 30.4219 30.0859 29.75 28.4766C29.0781 26.8516 28.7422 25.1016 28.7422 23.2266C28.7422 21.3203 29.0781 19.5547 29.75 17.9297C30.4219 16.3047 31.3359 14.9062 32.4922 13.7344C33.6641 12.5469 35.0234 11.6172 36.5703 10.9453C38.1328 10.2734 39.7969 9.9375 41.5625 9.9375C43.3438 9.9375 45.0078 10.2578 46.5547 10.8984C48.1172 11.5234 49.4766 12.4219 50.6328 13.5938C51.7891 14.75 52.7031 16.1484 53.375 17.7891C54.0469 19.4141 54.3828 21.2266 54.3828 23.2266ZM47.9375 23.2266C47.9375 22.1953 47.7656 21.2656 47.4219 20.4375C47.0938 19.5938 46.6406 18.875 46.0625 18.2812C45.4844 17.6719 44.8047 17.2109 44.0234 16.8984C43.2578 16.5703 42.4375 16.4062 41.5625 16.4062C40.6875 16.4062 39.8594 16.5703 39.0781 16.8984C38.3125 17.2109 37.6406 17.6719 37.0625 18.2812C36.5 18.875 36.0547 19.5938 35.7266 20.4375C35.3984 21.2656 35.2344 22.1953 35.2344 23.2266C35.2344 24.1953 35.3984 25.0938 35.7266 25.9219C36.0547 26.75 36.5 27.4688 37.0625 28.0781C37.6406 28.6875 38.3125 29.1719 39.0781 29.5312C39.8594 29.875 40.6875 30.0469 41.5625 30.0469C42.4375 30.0469 43.2578 29.8828 44.0234 29.5547C44.8047 29.2266 45.4844 28.7656 46.0625 28.1719C46.6406 27.5781 47.0938 26.8594 47.4219 26.0156C47.7656 25.1719 47.9375 24.2422 47.9375 23.2266ZM83.0469 23.2266C83.0469 25.1953 82.7109 26.9922 82.0391 28.6172C81.3672 30.2422 80.4531 31.6406 79.2969 32.8125C78.1406 33.9688 76.7812 34.8672 75.2188 35.5078C73.6719 36.1484 72.0078 36.4688 70.2266 36.4688C68.4609 36.4688 66.7969 36.1406 65.2344 35.4844C63.6875 34.8281 62.3281 33.9141 61.1562 32.7422C60 31.5703 59.0859 30.1797 58.4141 28.5703C57.7422 26.9453 57.4062 25.1641 57.4062 23.2266V0.914062H63.8281V12.6328C64.1719 12.1953 64.5859 11.8047 65.0703 11.4609C65.5703 11.1172 66.1016 10.8359 66.6641 10.6172C67.2422 10.3984 67.8359 10.2344 68.4453 10.125C69.0547 10 69.6484 9.9375 70.2266 9.9375C72.0078 9.9375 73.6719 10.2734 75.2188 10.9453C76.7812 11.6016 78.1406 12.5234 79.2969 13.7109C80.4531 14.8984 81.3672 16.3047 82.0391 17.9297C82.7109 19.5391 83.0469 21.3047 83.0469 23.2266ZM76.6016 23.2266C76.6016 22.2578 76.4297 21.3594 76.0859 20.5312C75.7578 19.6875 75.3047 18.9609 74.7266 18.3516C74.1484 17.7422 73.4688 17.2656 72.6875 16.9219C71.9219 16.5781 71.1016 16.4062 70.2266 16.4062C69.3516 16.4062 68.5234 16.6016 67.7422 16.9922C66.9766 17.3672 66.3047 17.875 65.7266 18.5156C65.1484 19.1406 64.6953 19.8672 64.3672 20.6953C64.0391 21.5078 63.875 22.3516 63.875 23.2266C63.875 24.1953 64.0391 25.0938 64.3672 25.9219C64.6953 26.75 65.1484 27.4688 65.7266 28.0781C66.3047 28.6875 66.9766 29.1719 67.7422 29.5312C68.5234 29.875 69.3516 30.0469 70.2266 30.0469C71.1016 30.0469 71.9219 29.875 72.6875 29.5312C73.4688 29.1719 74.1484 28.6875 74.7266 28.0781C75.3047 27.4688 75.7578 26.75 76.0859 25.9219C76.4297 25.0938 76.6016 24.1953 76.6016 23.2266Z"
            fill="#FF0000" />
        </svg>
      </div>

      <label aria-label="Hamburger Menu" id="nav-toggle"
        class="btn btn-circle swap swap-rotate fixed z-[999] top-4 right-4 hidden" aria-controls="primary-nav"
        aria-expanded="false">
        <input type="checkbox" />
        <!-- hamburger icon -->
        <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
          viewBox="0 0 512 512">
          <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
        </svg>
        <!-- close icon -->
        <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
          viewBox="0 0 512 512">
          <polygon
            points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
        </svg>
      </label>

      <nav class="mr-6">
        <ul id="primary-nav" class="flex grow gap-8 items-center justify-center z-[100]" data-visible="false">
          {navLinks.map(ele =>
          <NavListItem navLink={ele.link} activeLink={activeLink} icon={ele.icon} />)}
          <li>
            <!-- Theme, Light/Dark mode -->
            <label id="themeSetting" class="swap swap-rotate" transition:persist>
              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" />
              <!-- sun icon -->
              <svg data-set-theme="cmyk" class="swap-on fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
              </svg>
              <!-- moon icon -->
              <svg data-set-theme="night" class="swap-off fill-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
              </svg>
            </label>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main" class="container mx-auto">
      <slot />
    </main>

    <svg xmlns="http://www.w3.org/2000/svg" id="scrollButton" viewBox="0 0 512 512"
      class="w-10 h-10 fill-primary fixed bottom-5 right-5 animate-[jump_1500ms_infinite] cursor-pointer bg-base-100 rounded-full"
      style="display: none">
      <path
        d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM382.6 254.6c-12.5 12.5-32.75 12.5-45.25 0L288 205.3V384c0 17.69-14.33 32-32 32s-32-14.31-32-32V205.3L174.6 254.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l103.1-103.1C241.3 97.4 251.1 96 256 96c4.881 0 14.65 1.391 22.65 9.398l103.1 103.1C395.1 221.9 395.1 242.1 382.6 254.6z" />
    </svg>

    <footer class="border-t px-4 py-6 mt-6">
      <p class="text-center text-sm">&copy; {new Date().getFullYear()}&nbsp;{authorName}</p>
      <p class="text-center text-xs">Built with <a class="text-cyan-600 hover:text-black dark:hover:text-white"
          href="https://astro.build" target="_blank" rel="noreferrer noopener">{Astro.generator}</a></p>
    </footer>
  </body>

</html>

<style>
  html {
    --svg-totalLength: 844;
  }

  html[data-theme=night] {
    --fill-color: 142 72% 29%;
    --stroke-color: 217 33% 17%;
    --hamburger-bg: 0 0% 30%;
    color-scheme: dark;
  }

  html[data-theme=cmyk] {
    --fill-color: 173 80% 40%;
    --stroke-color: 213 27% 84%;
    --hamburger-bg: 0 0% 70%;
    color-scheme: light;
  }


  /* Mobile Navigation */
  @media (max-width:640px) {
    ul#primary-nav {
      position: fixed;
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;
      background: hsl(var(--hamburger-bg) / 0.5);
      backdrop-filter: blur(2rem);
    }

    ul#primary-nav[data-visible=true] {
      transform: translateX(0);
    }

    label#nav-toggle {
      display: grid;
    }
  }

  /* Logo & Theme SVG color */
  header path {
    fill: hsl(var(--fill-color));
  }
  header polygon{
    fill: hsl(var(--er));
  }


  /* Logo Animation */
  header>div>svg>path {
    stroke-dasharray: var(--svg-totalLength);
    stroke-dashoffset: var(--svg-totalLength);
    animation: logoAnimation 5s forwards ease-in-out;
    paint-order: stroke;
  }

  @keyframes logoAnimation {
    from {
      fill: hsl(var(--fill-color) / 0.1);
      stroke: hsl(var(--stroke-color));

    }

    to {
      stroke-dashoffset: 0;
      fill: hsl(var(--fill-color));
      stroke: hsl(var(--stroke-color) / 0);
    }
  }
</style>

<style is:global>
  ::selection {
    background-color: hsl(var(--a));
    color: hsl(var(--ac));
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: auto;
  }

  ::-webkit-scrollbar-track {
    background-color: hsl(var(--b3));
    border-radius: 100vmax;
    margin: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc));
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--bc) / 0.7);
    border-radius: 100vmax;
  }

  @supports (scrollbar-color: black white) {
    * {
      scrollbar-color: hsl(var(--bc)) hsl(var(--b3));
    }
  }
</style>

<script>
  // Navigation / Hamburger menu - control
  const nav = document.querySelector<HTMLUListElement>('#primary-nav');
  const navToggle = document.querySelector<HTMLLabelElement>('#nav-toggle');
  const navToggleInput = document.querySelector<HTMLInputElement>('#nav-toggle input');

  navToggle.addEventListener('change', () => {
    if (nav.getAttribute('data-visible') === 'false') {
      nav.setAttribute('data-visible', "true");
      nav.setAttribute("aria-expanded", "true");
    } else if (nav.getAttribute('data-visible') === 'true') {
      nav.setAttribute('data-visible', "false");
      nav.setAttribute("aria-expanded", "false");
    }
  });

  document.querySelector('main').addEventListener('click', () => {
    if (nav.getAttribute('data-visible') === 'true') {
      nav.setAttribute('data-visible', "false");
      nav.setAttribute("aria-expanded", "false");
      navToggleInput.checked = !navToggleInput.checked;
    }
  });


  // Scroll To Top button - control
  const scrollButton = document.querySelector<SVGElement>('#scrollButton')
  scrollButton.addEventListener('click', () => {
    window.scroll({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  });
  window.addEventListener('scroll', () => {
    if (document.documentElement.scrollTop > (window.innerHeight / 4)) {
      scrollButton.style.display = "block";
    } else {
      scrollButton.style.display = "none";
    }
  });


  // Theme stuff
  function setTheme(){
    const theme = localStorage['theme'] || document.querySelector('html').getAttribute('data-theme');
    document.querySelector('html').setAttribute('data-theme',theme);
    
    if (theme === 'cmyk') {
      document.querySelector<HTMLInputElement>('#themeSetting > input').checked = true;
      } else {
      document.querySelector<HTMLInputElement>('#themeSetting > input').checked = false;
    }
  }

  function clickTheme() {
    document.querySelector('#themeSetting').addEventListener('click', () => {
      const themeSettingInputElement = document.querySelector<HTMLInputElement>('#themeSetting > input')
        themeSettingInputElement.checked = !(themeSettingInputElement.checked);
        if (themeSettingInputElement.checked) {
          localStorage['theme'] = 'cmyk';
        } else {
          localStorage['theme'] = 'night';
        }
        setTheme();
    })
  }

  clickTheme();
  setTheme();

  document.addEventListener('astro:after-swap', setTheme);
  document.addEventListener('astro:after-swap', clickTheme);
</script>