---
import { ViewTransitions } from "astro:transitions";
import config from "src/config";
export interface Props {
  title: string,
  description: string,
}
const { title, description } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const url = canonicalURL.href;
const { metaData: { authorName, category, summary, keywords, icon } } = config;
const baseSite = import.meta.env.BASE_URL
---

<title>{title}</title>
<ViewTransitions />
<meta charset="UTF-8">

<meta name="author" content={authorName} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content={keywords.join()} />
<meta name="description" content={description} />
<meta name="category" content={category}>
<link rel="canonical" href={url} />
<meta name="generator" content={Astro.generator} />

<!-- Robot.txt -->
<meta name="robots" content="index,follow" />
<meta name="Googlebot" content="index,follow" />
<meta name="AdsBot-Google" content="index,follow" />

<!-- FaceBook Meta data -->
<meta property="og:site_name" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />

<!-- Twitter Meta data -->
<meta name="twitter:card" content={summary} />
<meta name="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:site" content={url} />
<meta name="application-name" content={title} />
<meta name="twitter:description" content={description}>

<meta name="apple-mobile-web-app-title" content={title} />
<meta name="apple-touch-icon" content={baseSite + icon} />
<meta name="summary" content={summary} />

<link rel="shortcut icon" href={baseSite + icon} type="image/x-icon">

<script is:inline>
  function setDataThemeAttribute(){
    if (localStorage.theme === 'night' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.querySelector('html').setAttribute('data-theme', 'night');
    } else {
      document.querySelector('html').setAttribute('data-theme', 'cmyk');
    }
  }
  setDataThemeAttribute();
  document.addEventListener('astro:after-swap', setDataThemeAttribute);
</script>